﻿@model DWTCMS.Web.Areas.admin.ViewModel.ChangPasswordAdmin
<div class="tab-pane" id="tab_1_2">
    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="widget-content padding">
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.NewPassword)
                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div class="form-group">
                <div class="margiv-top-10">
                    <input type="submit" value="Kaydet" class="btn green" />
                </div>
            </div>
        </div>
    }
</div>