﻿@model DWTCMS.Web.Areas.admin.ViewModel.Admin.AdminProfile
@{
    ViewBag.Title = "";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">PROFİL BİLGİLERİ</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Kullanıcı Bilgisi</a>
                                </li>
                                <li class="">
                                    <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">Şifre Değitir</a>
                                </li>

                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="widget-content padding">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.Name)
                                                <p>@Model.Name</p>
                                                @Html.ValidationMessageFor(x => x.Name)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(x => x.Email)
                                                <p>@Model.Email</p>
                                                @Html.ValidationMessageFor(x => x.Email)
                                            </div>
                                           
                                           
                                        </div>
                                    }                                    
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                @Html.Partial("ChangePassword", new DWTCMS.Web.Areas.admin.ViewModel.ChangPasswordAdmin())

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

