﻿@model IEnumerable<DWTCMS.Web.Areas.admin.ViewModel.Admin.CmsPage.CmsPageList>

@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers"></i>
                        <span class="caption-subject bold uppercase">İÇERİK SAYFALARI</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table" id="myTable">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PageValue)
                            </th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PageValue)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","CmsPage", new { id = item.Id })" class="btn btn-sm green">
                                        <i class="fa fa-pencil"></i>
                                        Düzenle
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>