﻿@using DWTCMS.Service.Config
@using DWTCMS.Service.Settings
@using (Html.BeginForm("Index", "Setting", FormMethod.Post, new { @id = "settingForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>
                        <span class="caption-subject bold uppercase">Ayarlar</span>
                    </div>
                    <div class="actions">
                        @*<a class="btn green" href="javascript:;">
                            Kaydet
                        </a>*@
                        <button type="submit" class="btn green">Kaydet</button>
                    </div>
                </div>
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Genel </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> E-Mail </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Sosyal Ağlar </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_4" data-toggle="tab" aria-expanded="false"> Seo </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_1_1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Site Başlığı</label>
                                        <input type="text" class="form-control" name="@AppCons.TITLE" value="@AppSettings.Get(AppCons.TITLE)" />
                                    </div>
                                    <div class="form-group">
                                        <label>Copyright Yazısı</label>
                                        <input type="text" class="form-control" name="@AppCons.FOOTER_TEXT" value="@AppSettings.Get(AppCons.FOOTER_TEXT)" />
                                    </div>
                                    <div class="form-group">
                                        <label>Head Bölümüne Kod Ekle</label>
                                        <textarea class="form-control" rows="8" name="@AppCons.HeadCode">@AppSettings.Get(AppCons.HeadCode)</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Body Bölümüne Kod Ekle</label>
                                        <textarea class="form-control" rows="8" name="@AppCons.BodyCode">@AppSettings.Get(AppCons.BodyCode)</textarea>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-10">
                                            <label>Gizlilik</label>
                                            <span>Siteniz arama motorları(Google,Yandex,Bing vb...) tarafından kaydedilip, takip edilebilsin mi?</span>
                                        </div>
                                        <label class="control-label col-md-2" style="padding-top:10px">
                                            <input @(AppSettings.Get(AppCons.NOINDEX) == "on" ? "checked" : "")
                                                   name="@AppCons.NOINDEX"
                                                   id="@AppCons.NOINDEX"
                                                   type="checkbox"
                                                   class="ios-switch ios-switch-success ios-switch-sm" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <h5>Site Başlığı</h5>
                                        <span class="help-block">Tarayıcı başlığında görünür ve SEO için kullanılır.</span>
                                    </div>
                                    <div class="form-group">
                                        <h5>Copyright Yazısı</h5>
                                        <span class="help-block">Sayfaların en altındaki copyright yazısıdır.</span>
                                    </div>
                                    <div class="form-group">
                                        <h5>Head Bölümüne Kod Ekle</h5>
                                        <span class="help-block">
                                            Sayfanın üste bölümüne Verification, Analytics, Tracking, Conversion gibi uygulamaların kodlarını
                                            ve herhangi bir istediğiniz style veya script kodunu ekleyebilirsiniz<br />
                                            Eklediğiniz kodlar tüm sayfalar için geçerlidir.
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <h5>Body Bölümüne Kod Ekle</h5>
                                        <span class="help-block">
                                            Sayfanın orta bölümüne Verification, Analytics, Tracking, Conversion gibi uygulamaların kodlarını
                                            ve herhangi bir istediğiniz style veya script kodunu ekleyebilirsiniz.<br />
                                            Eklediğiniz kodlar tüm sayfalar için geçerlidir.
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <span>Gizlilik</span>
                                        <span class="help-block">Siteniz arama motorları(Google,Yandex,Bing vb...) tarafından kaydedilip, takip edilebilsin mi?</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="tab_1_2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Eposta Sunucusu</label>
                                        <input type="text" class="form-control" name="@AppCons.MAIL_SERVER" value="@AppSettings.Get(AppCons.MAIL_SERVER)" />
                                    </div>
                                    <div class="form-group">
                                        <label>Eposta</label>
                                        <input type="text" class="form-control" name="@AppCons.MAIL_USER" value="@AppSettings.Get(AppCons.MAIL_USER)" />
                                    </div>
                                    <div class="form-group">
                                        <label>Eposta Şifresi</label>
                                        <input type="text" class="form-control" name="@AppCons.MAIL_PASSWORD" value="@AppSettings.Get(AppCons.MAIL_PASSWORD)" />
                                    </div>
                                    <div class="form-group">
                                        <label>Eposta Gönderen Adı</label>
                                        <input type="text" class="form-control" name="@AppCons.MAIL_SENDER_NAME" value="@AppSettings.Get(AppCons.MAIL_SENDER_NAME)" />
                                    </div>
                                    <div class="form-group">
                                        <label>Bildirim Eposta Adresleri</label>
                                        <input type="text" name="@AppCons.MAIL_NOTIFICATIONS" class="form-control" value="@AppSettings.Get(AppCons.MAIL_NOTIFICATIONS)" />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Eposta Sunucusu</label>
                                        <p class="help-block">
                                            Site üzerinden eposta gönderiminde kullanılacak olan hesabın bilgileridir.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label>Bildirim Eposta Adresleri</label>
                                        <span class="help-block">
                                            İletişim formları yada abonelere yeni bir kayıt eklendiğinde, eposta ile bilgilendirilmek isterseniz buraya hangi eposta
                                            adreslerine bilgilendirme gönderilecek belirlemelisiniz, birden fazla eposta kaydetmek için lütfen virgül ile ayırınız.
                                        </span>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_1_3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Facebook</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.FACEBOOK_PAGE_URL" value="@AppSettings.Get(AppCons.FACEBOOK_PAGE_URL)" />
                                            </div>
                                            <label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.FACEBOOK_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.FACEBOOK_PAGE_URL_ISOPEN"
                                                       id="@AppCons.FACEBOOK_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />




                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Twitter</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.TWITTER_PAGE_URL" value="@AppSettings.Get(AppCons.TWITTER_PAGE_URL)" />
                                            </div>
                                            <label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.TWITTER_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.TWITTER_PAGE_URL_ISOPEN"
                                                       id="@AppCons.TWITTER_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />

                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Instagram</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.INSTAGRAM_PAGE_URL" value="@AppSettings.Get(AppCons.INSTAGRAM_PAGE_URL)" />
                                            </div>
                                            <label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.INSTAGRAM_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.INSTAGRAM_PAGE_URL_ISOPEN"
                                                       id="@AppCons.INSTAGRAM_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />


                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Pinterest</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.PINTEREST_PAGE_URL" value="@AppSettings.Get(AppCons.PINTEREST_PAGE_URL)" />
                                            </div>
                                            <label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.PINTEREST_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.PINTEREST_PAGE_URL_ISOPEN"
                                                       id="@AppCons.PINTEREST_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />


                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Youtube</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.YOUTUBE_PAGE_URL" value="@AppSettings.Get(AppCons.YOUTUBE_PAGE_URL)" />
                                            </div><label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.YOUTUBE_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.YOUTUBE_PAGE_URL_ISOPEN"
                                                       id="@AppCons.YOUTUBE_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>

                                        <div class="clearfix"></div>
                                        <br />



                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Google Plus</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.GOOGLE_PLUS_PAGE_URL" value="@AppSettings.Get(AppCons.GOOGLE_PLUS_PAGE_URL)" />
                                            </div><label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.GOOGLE_PLUS_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.GOOGLE_PLUS_PAGE_URL_ISOPEN"
                                                       id="@AppCons.GOOGLE_PLUS_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>

                                        <div class="clearfix"></div>
                                        <br />


                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <span>Linkedin</span>
                                                <input type="text" class="form-control input-sm" name="@AppCons.LINKEDIN_PAGE_URL" value="@AppSettings.Get(AppCons.LINKEDIN_PAGE_URL)" />
                                            </div>
                                            <label class="control-label col-md-3">
                                                <br />
                                                <input @(AppSettings.Get(AppCons.LINKEDIN_PAGE_URL_ISOPEN) == "on" ? "checked" : "")
                                                       name="@AppCons.LINKEDIN_PAGE_URL_ISOPEN"
                                                       id="@AppCons.LINKEDIN_PAGE_URL_ISOPEN"
                                                       type="checkbox"
                                                       class="ios-switch ios-switch-success ios-switch-sm" />
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6">




                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_1_4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Meta Açıklama (Description)</label>
                                        <textarea class="form-control" rows="4" name="@AppCons.DESCRIPTION">@AppSettings.Get(AppCons.DESCRIPTION)</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Meta Anahtar Kelimeleri (Keywords)</label>
                                        <textarea class="form-control" rows="4" name="@AppCons.KEYWORDS">@AppSettings.Get(AppCons.KEYWORDS)</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}