﻿@model HomePageModel
@{
    ViewBag.Title = "Anasayfa";
}
<div class="row">
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-sitemap"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="1349">@Model.CategoryCount</span>
                </div>
                <div class="desc"> Kategoriler </div>
            </div>
            <a class="more" href="/admin/Category">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>*@
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="icon-graph"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="12,5">@Model.ProductCount</span>
                </div>
                <div class="desc"> Ürünler </div>
            </div>
            <a class="more" href="/admin/Product">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="icon-docs"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.SlideCount</span>
                </div>
                <div class="desc"> Slaytlar </div>
            </div>
            <a class="more" href="/admin/Slide">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.PostCount</span>
                </div>
                <div class="desc"> Haberler </div>
            </div>
            <a class="more" href="/admin/Post">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    
    

    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-picture-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.CorporateCount</span>
                </div>
                <div class="desc"> Kurumsal </div>
            </div>
            <a class="more" href="/admin/Corporate">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-picture-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.SettingsCount</span>
                </div>
                <div class="desc"> Genel Ayarlar </div>
            </div>
            <a class="more" href="/admin/Gallery">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>*@
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="icon-notebook"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.CatalogCount</span>
                </div>
                <div class="desc"> Kataloglar </div>
            </div>
            <a class="more" href="/admin/Catalog">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>*@
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-picture-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.ContactCount</span>
                </div>
                <div class="desc"> İletişim </div>
            </div>
            <a class="more" href="/admin/Contact">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>*@
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-sitemap"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="89">@Model.GalleryCategoryCount</span>
                </div>
                <div class="desc"> Galeri Kategori </div>
            </div>
            <a class="more" href="/admin/GalleryCategory">
                Detaylar
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>*@
</div>

