﻿@model DWTCMS.Web.Areas.admin.ViewModel.Admin.Category.CategoryCreateOrEdit
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold">Kategori Güncelle</span>
                </div>
                <div class="actions">
                    <input type="submit" value="Güncelle" class="btn green" />
                    <a href="@Url.Action("Index","Category")" class="btn red">
                        İptal
                    </a>
                </div>
            </div>
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> Türkçe </a>
                    </li>
                    <li>
                        <a href="#tab_1_2" data-toggle="tab"> İngilizce </a>
                    </li>
                    <li>
                        <a href="#tab_1_3" data-toggle="tab"> Rusça </a>
                    </li>
                    <li>
                        <a href="#tab_1_4" data-toggle="tab"> Arapça </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_1_1">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParentCategoryId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ParentCategoryId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentCategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOpen, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="icheck-list">
                                    @if (Model.IsOpen)
                {
                                        <input type="checkbox" name="IsOpen" value="true" class="icheck" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="IsOpen" value="true" class="icheck" />
                                    }
                                    @Html.ValidationMessageFor(model => model.IsOpen, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab_1_2">

                    </div>
                    <div class="tab-pane fade" id="tab_1_3">

                    </div>
                    <div class="tab-pane fade" id="tab_1_4">

                    </div>




                </div>
            </div>
        </div>
    </div>
}