﻿@model IEnumerable<DWTCMS.Web.Areas.admin.ViewModel.Admin.Category.CategoryList>
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-sitemap"></i>
                        <span class="caption-subject bold uppercase">KATEGORİLER</span>
                </div>
                <div class="actions">
                        <a href="@Url.Action("Create","Category")" class="btn green">
                            <i class="fa fa-plus"></i>
                            Yeni Kayıt
                        </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { @id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" id="id" value="" />
                }
               
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Order)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsOpen)
                            </th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsOpen)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Category", new { id = item.ID })" class="btn btn-sm green">
                                        <i class="fa fa-pencil"></i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-sm green sweet-4" data-title="@item.Name" data-id="@item.ID">
                                        <i class="fa fa-trash-o"></i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>