﻿
@{
    Layout = null;
    var loginError = ViewBag.LoginError ?? false;
    var mail = ViewBag.Mail ?? true;
}
@model DWTCMS.Web.Areas.admin.ViewModel.AdminModel
@*@model DWTCMS.Web.Areas.admin.ViewModel.ForgotModel*@

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Demir Web Tasarım | Kullanıcı Girişi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="~/Areas/admin/Content/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <link href="~/Areas/admin/Content/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->

    <link href="~/Areas/admin/Content/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Areas/admin/Content/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link href="~/Areas/admin/Content/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/Areas/admin/Content/img/favicon.png" />
</head>
<!-- END HEAD -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="~/Areas/admin/Content/img/logo.png" width="140" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->


        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title font-green">Giriş</h3>
            if (loginError)
            {
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span> Giriş yapılamadı kullanıcı adı yada şifreniz doğru değil. </span>
                </div>
            }
            if (!mail)
            {
                <div class="alert alert-info">
                    <button class="close" data-close="alert"></button>
                    <span> Şifre sıfırlama mailinizden şifrenizi değiştirin. </span>
                </div>
            }


            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                @*<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Kullanıcı Adı" name="username" />*@
                @Html.TextBoxFor(a => a.Email, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", @placeholder = "E-mail" })
                @Html.ValidationMessageFor(a => a.Email)
                @*@Html.ValidationMessageFor(model => model.ProductTurkishName, "", new { @class = "text-danger" })*@
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="password" />*@
                @Html.PasswordFor(a => a.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Şifre" })
                @Html.ValidationMessageFor(a => a.Password)
            </div>
            @*<div class="form-actions">
                    <button type="submit" class="btn green uppercase btn-block">GİRİŞ YAP</button>
                </div>*@

            <div class="form-actions">
                <button type="submit" class="btn green uppercase">GİRİŞ YAP</button>
                @*<label class="rememberme check">
                    <input type="checkbox" name="remember" value="1" />Beni hatırla
                </label>*@
                <a href="javascript:;" id="forget-password" class="forget-password">Şifremi Unuttum</a>
            </div>
        }
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        @using (Html.BeginForm("Forgot", "Login", FormMethod.Post, new { @class = "forget-form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="font-green">Şifremi Unuttum</h3>
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", @placeholder = "E-mail" })
            @Html.ValidationMessageFor(a => a.Email)
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Geri</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Gönder</button>
            </div>

        }
                @*<form class="forget-form" action="index.html" method="post">
            <h3 class="font-green">Şifremi Unuttum</h3>
            <p> Parolanızı sıfırlamak için e-mail adresinizi girin. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="E-mail" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Geri</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Gönder</button>
            </div>
        </form>*@
        <!-- END FORGOT PASSWORD FORM -->


    </div>
    <div class="copyright"> 2016 © Demir Web Tasarım | Yönetim Paneli </div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="~/Areas/admin/Content/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="~/Areas/admin/Content/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->

    <script src="~/Areas/admin/Content/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <script src="~/Areas/admin/Content/pages/scripts/login.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Areas/admin/Content/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>
