﻿@using DWTCMS.Web.Areas.admin.Helpers
@using DWTCMS.Service.Config
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Demir Web Tasarım Kontrol Paneli</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />


    <link href="~/Areas/admin/Content/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    
    <link href="~/Areas/admin/Content/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Areas/admin/Content/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->


    <link href="~/Areas/admin/Content/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Areas/admin/Content/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/Content/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->

    <link href="~/Areas/admin/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Areas/admin/Content/global/plugins/icheck/skins/all.css" rel="stylesheet" />
    <link href="~/Areas/admin/Content/global/plugins/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    <link href="~/Areas/admin/Content/global/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/admin/Content/global/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Areas/admin/Content/img/favicon.png" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/admin/Home" class="logo">
                    <img src="~/Areas/admin/Content/img/logo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav">
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                    <li>
                        <a href="/admin/Login/LogOff">
                            <i class="icon-login"></i>
                        </a>
                    </li>

                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->

                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper hide">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler"> </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                    <li class="nav-item start  @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Home")">
                        <a href="@Url.Action("Index","Home")" class="nav-link nav-toggle">
                            <i class="icon-home"></i>
                            <span class="title">Kontrol Paneli</span>
                        </a>
                    </li>

                    <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit", controllers: "Category,Product")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-graph"></i>
                            <span class="title">Ürünler</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit", controllers: "Product")">
                                <a href="@Url.Action("Index","Product")" class="nav-link">
                                    <i class="icon-graph"></i>
                                    <span class="title">Ürünler</span>
                                </a>
                            </li>
                            <li class="nav-item start @Html.IsSelected(actions: "Index,Create,Edit", controllers: "Category")">
                                <a href="@Url.Action("Index","Category")" class="nav-link nav-toggle">
                                    <i class="fa fa-sitemap"></i>
                                    <span class="title">Kategoriler</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Gallery,GalleryCategory")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="fa fa-picture-o"></i>
                            <span class="title">Galeri</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start  @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Gallery")">
                                <a href="@Url.Action("Index","Gallery")" class="nav-link nav-toggle">
                                    <i class="fa fa-picture-o"></i>
                                    <span class="title">Galeri</span>
                                </a>
                            </li>
                            <li class="nav-item start  @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "GalleryCategory")">
                                <a href="@Url.Action("Index","GalleryCategory")" class="nav-link nav-toggle">
                                    <i class="fa fa-sitemap"></i>
                                    <span class="title">Kategori</span>
                                </a>
                            </li>
                        </ul>
                    </li>*@
                    <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit", controllers: "Slide")">
                        <a href="@Url.Action("Index","Slide")" class="nav-link nav-toggle">
                            <i class="icon-docs"></i>
                            <span class="title">Slaytlar</span>
                        </a>
                    </li>
                   
                    @*<li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Catalog")">
                        <a href="@Url.Action("Index","Catalog")" class="nav-link nav-toggle">
                            <i class="icon-notebook"></i>
                            <span class="title">Katalog</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Certificates")">
                        <a href="@Url.Action("Index","Certificates")" class="nav-link nav-toggle">
                            <i class="fa fa-certificate"></i>
                            <span class="title">Sertifika</span>
                        </a>
                    </li>*@
                    @*<li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Corporate")">
                        <a href="@Url.Action("Index","Corporate")" class="nav-link nav-toggle">
                            <i class="icon-briefcase"></i>
                            <span class="title">Kurumsal</span>
                        </a>
                    </li>*@
                    <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Post")">
                        <a href="@Url.Action("Index","Post")" class="nav-link nav-toggle">
                            <i class="fa fa-newspaper-o"></i>
                            <span class="title">Haberler</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "CmsPage")">
                        <a href="@Url.Action("Index","CmsPage")" class="nav-link nav-toggle">
                            <i class="icon-layers"></i>
                            <span class="title">İçerik Sayfaları</span>
                        </a>
                    </li>
                    @*<li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Contact")">
                        <a href="@Url.Action("Index","Contact")" class="nav-link nav-toggle">
                            <i class="icon-call-end"></i>
                            <span class="title">İletişim</span>
                        </a>
                    </li>*@                   
                    <li class="nav-item @Html.IsSelected(actions: "Index,Create,Edit,Details,Delete", controllers: "Setting")">
                        <a href="@Url.Action("Index","Setting")" class="nav-link nav-toggle">
                            <i class="icon-settings"></i>
                            <span class="title">Ayarlar</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Profile")">
                        <a href="@Url.Action("Index","Profile")" class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">Profil</span>
                        </a>
                    </li>
                    <li><a href="~/" target="_blank"><i class="fa fa-chrome"></i><span>Siteyi Görüntüle</span></a></li>
                </ul>
                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- İçerik buraya gelecek-->
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            <a href="http://demirwebtasarim.net/" title="" target="_blank"> 2016 &copy; Demir Web Tasarım</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Areas/admin/Content/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->

    <script src="~/Areas/admin/Content/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->

    <script src="~/Areas/admin/Content/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Areas/admin/Content/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="~/Areas/admin/Content/scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Areas/admin/Content/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Areas/admin/Content/Scripts/ckeditor/ckeditor.js"></script>

    <script src="~/Areas/admin/Content/global/plugins/icheck/icheck.min.js"></script>

    <script src="~/Areas/admin/Content/global/plugins/bootstrap-growl-master/jquery.bootstrap-growl.min.js"></script>
    @*<script src="~/Areas/admin/Content/global/plugins/bootstrap-session-timeout-master/dist/bootstrap-session-timeout.min.js"></script>
    <script src="~/Areas/admin/Content/pages/scripts/ui-session-timeout.min.js"></script>*@
    <script src="~/Areas/admin/Content/modules/DWTCMSAdmin.js"></script>

    <script src="~/Areas/admin/Content/global/plugins/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>   
    <script src="~/Areas/admin/Content/global/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="~/Areas/admin/Content/global/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>
    
    @if (TempData[AppCons.TempDataSuccess] != null)
    {
        <script type="text/javascript">
            $(function() {                
                setTimeout(function() {
                    $.bootstrapGrowl("@TempData[AppCons.TempDataSuccess]", {
					type: 'success'
					});
                });              
            });
        </script>
    }

    @if (TempData[AppCons.TempDataError] != null)
    {
        <script type="text/javascript">
            $(function() {
                setTimeout(function() {
                    $.bootstrapGrowl("@TempData[AppCons.TempDataError]", {
					type: 'danger'
					});
                });
            });
        </script>
    }

    @if (TempData[AppCons.TempDataInfo] != null)
    {
        <script type="text/javascript">
            $(function() {
                setTimeout(function() {
                    $.bootstrapGrowl("@TempData[AppCons.TempDataInfo]", {
					type: 'info'
					});
                });
            });
        </script>
    }
</body>
</html>