﻿@using DWTCMS.Web.Areas.admin.Helpers
<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/Content/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/css/theme.css">
    <link rel="stylesheet" href="~/Content/css/theme-elements.css">
    <link rel="stylesheet" href="~/Content/css/theme-blog.css">
    <link rel="stylesheet" href="~/Content/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/Content/vendor/rs-plugin/css/navigation.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/css/skins/skin-corporate-8.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Content/vendor/modernizr/modernizr.min.js"></script>

</head>
<body ng-app="DWTCMS">

    <div class="body" ng-controller="Public">
        <header id="header" class="header-narrow" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-57px', 'stickyChangeLogo': false}">
            <div class="header-body">
                <div class="header-top header-top-tertiary header-top-style-3">
                    <div class="container">
                        <ul class="header-social-icons social-icons social-icons-transparent social-icons-icon-light pull-right ml-xs mt-xs hidden-xs">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <p class="pull-right text-color-light">
                            <span class="mr-xs"><i class="icon-call-end icons mr-xs"></i> (123) 456-789</span><span class="hidden-xs"></span>
                        </p>
                    </div>
                </div>
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img alt="Demir Web Tasarım" width="150" height="48" src="http://www.placehold.it/111x54/EFEFEF/AAAAAA&amp;text=LOGO">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-nav">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">
                                                    @Html.ActionLink("ANASAYFA", "Index", "Home", new { }, null)
                                                </li>
                                                <li class="@Html.IsSelected(actions: "AboutPage", controllers: "Home")">
                                                    @Html.ActionLink("HAKKIMIZDA", "AboutPage", "Home", new { }, null)
                                                </li>
                                                <li class="dropdown">
                                                    <a href="@Url.Action("ServicePage", "Home", new {}, null)">
                                                        HİZMETLERİMİZ
                                                        <i class="fa fa-caret-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="hizmetlerimiz.html">Web Sitesi</a></li>
                                                        <li><a href="hizmetlerimiz.html">Mobil Uygulama</a></li>
                                                        <li><a href="hizmetlerimiz.html">Hosting</a></li>
                                                    </ul>
                                                </li>
                                                <li class="@Html.IsSelected(actions: "BlogPage,BlogDetail", controllers: "Home")">
                                                    @Html.ActionLink("BLOG", "BlogPage", "Home", new { }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("REFERANSLAR", "ReferencePage", "Home", new { }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("GALERİ", "GalleryPage", "Home", new { }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("İLETİŞİM", "ContactPage", "Home", new { }, null)
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            @RenderBody()
        </div>

        <footer id="footer" class="color color-tertiary">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="newsletter">
                            <h4>Bülten</h4>
                            <p>Bizim her zaman gelişen ürün özellikleri ve teknoloji takip edin. E-postanızı girin ve bültenimize abone olun.</p>

                            <div class="alert alert-success hidden" id="newsletterSuccess">
                                <strong>Success!</strong> Başarılı.
                            </div>

                            <div class="alert alert-danger hidden" id="newsletterError"></div>

                            <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
                                <div class="input-group">
                                    <input class="form-control" placeholder="E-mail Adres" name="newsletterEmail" id="newsletterEmail" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Kaydet!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Son Tweetler</h4>
                        <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': '', 'count': 2}">
                            <p>Please wait...</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-details">
                            <h4>İletişim</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-map-marker"></i> <strong>Adres:</strong> 1234 Street Name, City Name, United States</p></li>
                                <li><p><i class="fa fa-phone"></i> <strong>Telefon:</strong> (123) 456-789</p></li>
                                <li><p><i class="fa fa-envelope"></i> <strong>E-mail:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4>Sosyal Medya</h4>
                        <ul class="social-icons">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>© Copyright 2017. Tüm Hakları Saklıdır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/common/common.min.js"></script>
    <script src="~/Content/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/Content/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Content/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/Content/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/Content/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/vendor/vide/vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/Content/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Content/js/theme.init.js"></script>

    <!-- Sonradan Eklediklerim -->
    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/js/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>

    <!-- Theme Custom -->
    <script src="~/Content/js/custom.js"></script>
    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->

</body>
</html>