﻿@model IEnumerable<DWTCMS.Web.Areas.admin.ViewModel.Admin.Product.ProductList>
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graph"></i>
                        <span class="caption-subject bold uppercase">üRÜNLER</span>
                </div>
                <div class="actions">
                    <a href="@Url.Action("Create","Product")" class="btn green">
                        <i class="fa fa-plus"></i>
                        Yeni Kayıt
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { @id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" id="id" value="" />
                }
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImgPath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Order)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsOpen)
                            </th>
                            <th>İşelemler</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    <span><i class="fa fa-image hoverImgProduct" data-id="@item.ID"><img class="hidden" src="" /></i></span>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.TName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Category)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Order)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsOpen)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Product", new { id = item.ID })" class="btn btn-sm green">
                                        <i class="fa fa-pencil"></i>
                                        Düzenle
                                    </a>

                                    <a class="btn btn-sm green sweet-4" data-title="@item.TName" data-id="@item.ID">
                                        <i class="fa fa-trash-o"></i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>