﻿@model IEnumerable<DWTCMS.Data.Model.Post>
<div class="container">
    <div class="row mt-xl">
        <div class="col-md-12">
            <h2 class="mb-xs"><strong>Blog</strong></h2>
            <div class="row">
                @foreach (var blog in Model)
                {
                    <div class="col-md-4">
                        <div class="recent-posts mt-xl">
                            <article class="post">
                                <div class="date">
                                    <span class="day">@blog.AddedDateTime.Day</span>
                                    <span class="month background-color-secondary">@blog.AddedDateTime.ToString("MMMM")</span>
                                </div>
                                <h4>@Html.ActionLink(blog.Title, "BlogDetail", "Home", new { id = blog.ID }, null)</h4>
                                <p>@Html.Raw(blog.Content)</p>
                                @Html.ActionLink("Devamını Oku", "BlogDetail", "Home", new { id = blog.ID }, new { @class = "btn btn-primary mt-md mb-xl" })
                            </article>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>