﻿<section class="section section-custom-map-2">
    <section class="section section-default section-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="http://www.placehold.it/390x250/EFEFEF/AAAAAA&amp;text=Referans" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>