﻿@model IEnumerable<DWTCMS.Data.Model.Slide>
<div class="slider-container light rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500}">
        <ul>
            @foreach (var item in Model)
            {
                <li data-transition="fade">
                    <img src="~/Areas/admin/Content/img/slide/@Url.Content(item.Path)"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption main-label"
                         data-x="65"
                         data-y="210"
                         data-start="1500"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">@item.Title</div>
                </li>
            }
        </ul>
    </div>
</div>
