﻿@model DWTCMS.Data.Model.CmsPage
<section class="page-header page-header-dark page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hakkımızda</h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li><a href="#">Anasayfa</a></li>
                    <li class="active">Hakkımızda</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-xlg">
            <h2>@Model.PageTitle</h2>
            <p class="lead mb-xl mt-lg">@Model.PageShortDescription</p>
            <p>@Html.Raw(Model.PageDescription)</p>
        </div>
    </div>
</div>

