﻿@model DWTCMS.Data.Model.Post
<section class="page-header page-header-dark page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blog</h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li><a href="#">Anasayfa</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="blog-posts single-post">
                <article class="post post-large blog-single-post">                    
                    <div class="post-date">
                        <span class="day">10</span>
                        <span class="month">Jan</span>
                    </div>
                    <div class="post-content">
                        <h2>@Model.Title</h2>
                        <div class="post-meta">
                            <span><i class="fa fa-tag"></i> <a href="#">Tags</a> </span>
                        </div>
                        @Html.Raw(Model.Content)
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>