﻿@model IEnumerable<DWTCMS.Data.Model.Post>
<section class="page-header page-header-dark page-header-more-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blog</h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li><a href="#">Anasayfa</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-posts">
                @foreach (var blog in Model)
                {
                    <article class="post post-large">
                        <div class="post-date">
                            <span class="day">@blog.AddedDateTime.Day</span>
                            <span class="month">@blog.AddedDateTime.ToString("MMMM")</span>
                        </div>
                        <div class="post-content">
                            <h4>@Html.ActionLink(blog.Title, "BlogDetail", "Home", new { id = blog.ID }, null)</h4>
                            <p>@blog.Content</p>
                            <div class="post-meta">
                                <span>
                                    <i class="fa fa-tag"></i>
                                   <a>tags</a>
                                </span>
                                @Html.ActionLink("Devamını Oku...", "BlogDetail", "Home", new { id = blog.ID }, new { @class = "btn btn-xs btn-primary pull-right" })
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</div>