﻿@Html.Action("_Slide", "Home")
<section class="section section-default section-no-border" style="margin-top:0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading-dark"><strong>Hizmetlerimiz</strong></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" ng-repeat="product in Products">
                <div class="feature-box feature-box-secondary feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-info">
                        <h4 class="mb-sm"> {{ product.trName }} </h4>
                        <p class="mb-lg"> {{ product.MetaDescription }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Action("_Blog", "Home")
@Html.Action("_Reference", "Home")
