/* here you can put your own css to customize and override the theme */
body {
}
.logo img{
    height:40px;
    width:140px;
    margin:4px 0 0 !important;
}
.page-header.navbar .page-logo .logo-default{
    
}
.slide-img{
    width:200px !important;
    height:150px;
}
.hoverImgProduct img{
    width:200px;
    height:200px;
    position:absolute;
    margin-left:5px;
    margin-top:-100px;
}
.hoverImgSlide img{
    width:200px;
    height:200px;
    position:absolute;
    margin-left:5px;
    margin-top:-100px;
}
.bootstrap-tagsinput{
    width:100%;}