﻿@model DWTCMS.Web.Areas.admin.ViewModel.Admin.Slide.SlideCreateOrEdit
@using (Html.BeginForm("Create", "Slide", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold">Yeni Slayt</span>
                </div>
                <div class="actions">
                    <input type="submit" value="Kaydet" class="btn green" />
                    <a href="@Url.Action("Index","Slide")" class="btn red">
                        İptal
                    </a>
                </div>
            </div>
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab"> Türkçe </a>
                    </li>
                    <li>
                        <a href="#tab_1_2" data-toggle="tab"> İngilizce </a>
                    </li>
                    <li>
                        <a href="#tab_1_3" data-toggle="tab"> Rusça </a>
                    </li>
                    <li>
                        <a href="#tab_1_4" data-toggle="tab"> Arapça </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_1_1">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOpen, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="icheck-list">
                                    <input type="checkbox" name="IsOpen" value="true" class="icheck" checked />
                                    @Html.ValidationMessageFor(model => model.IsOpen, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Resim+Yok" alt="">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                    <div>
                                        <span class="btn red btn-outline btn-file">
                                            <span class="fileinput-new"> Resim Seç </span>
                                            <span class="fileinput-exists"> Değiştir </span>
                                            <input type="file" name="slideImage" accept="image/*">
                                        </span>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Sil </a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab_1_2">

                    </div>
                    <div class="tab-pane fade" id="tab_1_3">

                    </div>
                    <div class="tab-pane fade" id="tab_1_4">

                    </div>
                </div>
            </div>
        </div>
    </div>
}



