﻿@model IEnumerable<DWTCMS.Web.Areas.admin.ViewModel.Admin.Slide.SlideList>
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Slide", FormMethod.Post, new { @id = "deleteForm" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="id" value="" />
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-docs"></i>
                    <span class="caption-subject bold uppercase">SLAYTLAR</span>
                </div>
                <div class="actions">
                    <a href="@Url.Action("Create","Slide")" class="btn green">
                        <i class="fa fa-plus"></i>
                        Yeni Kayıt
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Path)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Published)
                            </th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <span><i class="fa fa-image hoverImgSlide" data-id="@item.ID"><img class="hidden" src="" /></i></span>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Published)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Slide", new { id = item.ID })" class="btn btn-sm green">
                                        <i class="fa fa-pencil"></i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-sm green sweet-4" data-title="@item.Title" data-id="@item.ID">
                                        <i class="fa fa-trash-o"></i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>